* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  color: #f9eedf;
  background-color: #0a0c18;
  font-size: 14px;
}

#app {
  min-height: 100vh;
}

button {
  color: #f9eedf;
}

@media (max-width: 768px) {
  body {
    font-size: 12px;
    /* line-height: 1.4; */
  }
}